{% extends "layout.html" %} {% block content %}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Apollo</h1>
            <h4>A synchronized music player.</h4>
            <h3>Listen to hand-selected tracks at the same time as others, or try your hand at the selecting.</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-14 text-center">
                    <h2>Purpose</h2>
                    <p class="lead">Apollo is a service meant for tabletop gamers.  A story lends itself to music, and it shouldn't be a difficult process.</p>
                    <p class="lead">With Apollo, you can host rooms joinable by anyone with the invite link.  The room owner can select tracks to play for everyone based on their weight and intensity.
                        Tracks are also separated into 'loops',  a smaller segment of the track that loops nicely.  The owner can queue loops together to form a cohesive experience for everyone listening in.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <!--<div class="row text-center">-->
                <!--<div class="col-lg-10 col-lg-offset-1">-->
                    
                    <div class="row text-center center-block">
                    <h2>Features</h2>
                    <hr class="small">
                        <div class="col-md-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Track-synchronized rooms</strong>
                                </h4>
                                <p>Create a room for your friends that keeps track of synchronization for you.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Intuitive track selection</strong>
                                </h4>
                                <p>Select tracks with a simple UI based on their weight and momentum.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Track manipulation</strong>
                                </h4>
                                <p>Loop entire tracks indefinitely.  Loop track segments indefinitely.  Queue up additional loops.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            <!--</div>-->
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <div class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <aside class="col-lg-12 text-center">
                    <h3>Apollo works for two kinds of people.  Which are you?</h3>
                    <a href="/listener.html" class="btn btn-lg btn-light">Listener</a>
                    <a href="/owner.html" class="btn btn-lg btn-dark">Owner</a>
                </aside>
            </div>
        </div>
    </div>



{% endblock %}