{% extends "layout.html" %} {% block content %}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Apollo</h1>
            <h4>A synchronized music player.</h4>
            
            <div class='col-lg-offset-4 col-lg-4'>
                <div>
                    <h3>Login</h3>
                    {% if fromRegister %}
                    <h3>Login with your newly created account to begin!</h3>
                    {% endif %}
                </div>
                <form class='form-group' method="post" action="/login">
                    <p>Login to access your previously created rooms as the owner.</p>
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" ng-model="username">
                    </br>
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" ng-model="password">
                    <br/>
                    {% if not success %}
                    <h3>Validation failed.  Are you sure you typed everything in correctly?</h3>
                    <br>
                    {% endif %}
                    <input class="btn btn-default" type="submit" value="Submit" name="submit"/>
                    <!--<button class="btn btn-default" type="button" class="btn btn-default" ng-click="register(username, password)">DEBUG Register</button>-->
        
                </form>
            </div>
        </div>
    </header>


{% endblock %}