{% extends "layout.html" %} {% block content %}
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Make the world a better place.</h1>
            <h3><a href="" data-toggle="modal" data-target="#loginModal">Login or create an account to make a room!</a></h3>
            <br>
            
        </div>
    </header>
    
   <!-- Modal -->

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row text-center">
                <h2>Current Playlist</h2>
            <p class="lead">Playback here is synchronized across all listeners.</p>
                
                <!-- Now Playing -->
                <div class="col-md-3">
                    <h4>Now Playing</h4>
                    <hr class="large"/>
                    <table class="table text-left">
                            <tr ng-bind="nowPlaying" ng-show="nowPlaying.title != 'None'">
                                <td ng-bind="nowPlaying.track"></td>
                                <td ng-bind="nowPlaying.style"></td>
                                <td>
                                    <button type="button" class="btn-queue btn-default btn-xs fa fa-play"/>
                                    <button type="button" class="btn-queue btn-default btn-xs fa fa-remove"/>
                                </td>
                            </tr>
                    </table>
                </div>
                
                <!-- Queue -->
                <div class="col-md-3">
                    <h4>Queue</h4>
                    <hr class="large"/>
                    <table class="table text-left">
                            <tr ng-repeat="entry in queue.slice().reverse() track by $index">
                                <td ng-bind="entry.track"></td>
                                <td ng-bind="entry.style"></td>
                                <td>
                                    <button type="button" class="btn-queue btn-default btn-xs fa fa-play" ng-click="play(entry)"/>
                                    <button type="button" class="btn-queue btn-default btn-xs fa fa-remove"/>
                                </td>
                            </tr>
                    </table>
                </div>
                
                <!-- Select Track -->
                <div class="col-md-3">
                    <h4>Select</h4>
                    <hr class="large"/>
                    <div class="row text-center">
                        <div class="col-2 btn-group">
                            <button id="A3" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">A3</button>
                            <button id="B3" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">B3</button>
                            <button id="C3" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">C3</button>
                        </div></br>
                        <div class="col-2 btn-group">
                            <button id="A2" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">A2</button>
                            <button id="B2" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">B2</button>
                            <button id="C2" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">C2</button>
                        </div></br>
                        <div class="col-2 btn-group">
                            <button id="A1" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">A1</button>
                            <button id="B1" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">B1</button>
                            <button id="C1" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">C1</button>
                        </div></br>
                    </div>
                </div>
                
                <!-- Track Information -->
                <div class="col-md-3">
                    <h4>Info</h4>
                    <hr class="large"/>
                    <p>TODO: Show loops of selected track.  Allow addition of loop or entire track to queue.</p>
                    <h5 ng-show="selectedTrack == 'None'">Select a track!</h5>
                    <h5 ng-show="selectedTrack != 'None'">Track: {{ '{{selectedTrack}}' }}</h5>
                    <video class="btn btn-default btn-lg img-responsive" onclick="this.paused ? this.play() : this.pause();">
                        <source type="video/webm" src="static/media/RickRoll.webm">
                    </video>
                    <button type="button" class="btn btn-default" ng-click="addToQueue(selectedTrack)">Add to queue</button>

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

{% endblock %}