{% extends "layout.html" %} {% block content %}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Make the world a better place.</h1>
            {% if session['user'] == None %}
            
            <h3><a href="/login">Login</a> or <a href="/register">create an account</a> to make a room!</h3>
            <br>
            
            {% else %}
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about" ng-controller="owner">
        <div class="container">
            <div class="row text-center">
                <h2>Current Playlist</h2>
            <p class="lead">Playback here is synchronized across all listeners.</p>
            
                <!-- Now Playing -->
                <div class="col-md-3">
                    <h4>Now Playing</h4>
                    <hr class="large"/>
                    <table class="table text-left" ng-show="nowPlaying.title != 'None'">
                        <audio id="nowPlaying" ng-src="{{ '{{trustedUrl(nowPlayingSrc)'}} }}"></audio>
                            <tr>
                                <td ng-bind="nowPlaying.title"></td>
                            </tr>
                            <tr>
                                <td ng-bind="nowPlaying.genre"></td>
                            </tr>
                            <tr>
                                <td>
                                    <a id="nowPlayingSelector" ng-class="isPlaying()" onclick="playPause()"></a>
                                </td>
                                <td>
                                    <input id="volume" onchange="changeVolume()" type="range" min="0" max="1" step="0.02" value="1" ng-model="volume">
                                </td>
                            </tr>
                    </table>
                </div>
                
                <!-- Queue -->
                <div class="col-md-3">
                    <h4>Queue</h4>
                    <hr class="large"/>
                    <table class="table table-hover text-left">
                            <tr ng-repeat="entry in queue.slice() track by $index">
                                <td><strong>{{ '{{ entry.title }}' }}</strong></td>
                                <td>{{ '{{ entry.genre }}' }}</td>
                                <td>
                                    <i class="btn-queue btn-default btn-xs fa fa-play" ng-click="play(entry); remove(entry)"/>
                                </td>
                                <td>
                                    <i class="btn-queue btn-default btn-xs fa fa-remove" ng-click="remove(entry)"/>
                                </td>
                            </tr>
                    </table>
                </div>
                
                <!-- Select Track -->
                <div class="col-md-3">
                    <h4>Select</h4>
                    <hr class="large"/>
                    <div class="row text-center">
                        <div class="col-2 btn-group">
                            <button id="A3 Full" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">A3</button>
                            <button id="B3 Full" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">B3</button>
                            <button id="C3 Full" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">C3</button>
                        </div></br>
                        <div class="col-2 btn-group">
                            <button id="A2 Full" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">A2</button>
                            <button id="B2 Full" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">B2</button>
                            <button id="C2 Full" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">C2</button>
                        </div></br>
                        <div class="col-2 btn-group">
                            <button id="A1 Full" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">A1</button>
                            <button id="B1 Full" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">B1</button>
                            <button id="C1 Full" type="button" class="btn btn-default btn-lg" ng-click="selectTrack(this.id)">C1</button>
                        </div></br>
                    </div>
                </div>
                
                <!-- Track Information -->
                <div class="col-md-3">
                    <h4>Info</h4>
                    <hr class="large"/>
                    <p>TODO: Show loops of selected track.  Allow addition of loop or entire track to queue.</p>
                    <h5 ng-show="selectedTrack.title == 'None'">Select a track!</h5>
                    <table class="table table-hover text-left">
                            <tr ng-show="selectedTrack.title != 'None'">
                                <td>
                                    <strong>{{ '{{selectedTrack.title}}' }}</strong>
                                </td>
                                <td>
                                    <strong>{{ '{{selectedTrack.genre}}' }}</strong>
                                </td>
                                <td>
                                    <i class="btn-queue btn-default btn-xs fa fa-rotate-90 fa-level-down" ng-click="push(selectedTrack)"/>
                                </td>
                            </tr>
                            <tr ng-repeat="subtrack in selectedTrack.subtracks">
                                <td><strong>{{ '{{ subtrack.title }}' }}</strong></td>
                                <td>{{ '{{ subtrack.genre }}' }}</td>
                                <td>
                                    <i class="btn-queue btn-default btn-xs fa fa-rotate-90 fa-level-down" ng-click="push(subtrack)"/>
                                </td>
                                </td>
                            </tr>
                    </table>
                    
                    <button type="button" class="btn btn-default" ng-show="selectedTrack.title != 'None'" ng-click="push(selectedTrack)">Add to queue</button>
                    <button type="button" class="btn btn-default" ng-click="debugPopulateDB()">DEBUG: Populate database</button>


                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    
{% endif %}
{% endblock %}