{% extends "layout.html" %} {% block content %}
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Make the world a better place.</h1>
            <h3><a href="" data-toggle="modal" data-target="#loginModal">Login or create an account to make a room!</a></h3>
            <br>
            
        </div>
    </header>
    
   <!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username">
        </br>
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row text-center">
                <h2>Current Playlist</h2>
            <p class="lead">Playback here is synchronized across all listeners.</p>
                
                <div class="col-md-3">
                    <h4>Now Playing</h4>
                    <hr class="large"/>
                    <p>TODO: Show current track. Can Skip or force Looping.</p>
                </div>
                <div class="col-md-3">
                    <h4>Queue</h4>
                    <hr class="large"/>
                    <p>TODO: Show queue.  Allow removal of existing tracks or addition of new ones.</p>
                </div>
                <div class="col-md-3">
                    <h4>Select</h4>
                    <hr class="large"/>
                    <div class="row text-center">
                        <div class="col-2 btn-group">
                            <button type="button" class="btn btn-default btn-lg">A3</button>
                            <button type="button" class="btn btn-default btn-lg">B3</button>
                            <button type="button" class="btn btn-default btn-lg">C3</button>
                        </div></br>
                        <div class="col-2 btn-group">
                            <button type="button" class="btn btn-default btn-lg">A2</button>
                            <button type="button" class="btn btn-default btn-lg">B2</button>
                            <button type="button" class="btn btn-default btn-lg">C2</button>
                        </div></br>
                        <div class="col-2 btn-group">
                            <button type="button" class="btn btn-default btn-lg">A1</button>
                            <button type="button" class="btn btn-default btn-lg">B1</button>
                            <button type="button" class="btn btn-default btn-lg">C1</button>
                        </div></br>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Info</h4>
                    <hr class="large"/>
                    <p>TODO: Show loops of selected track.  Allow addition of loop or entire track to queue.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

{% endblock %}