{% extends "layout.html" %} {% block content %}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Apollo</h1>
            <h4>A synchronized music player.</h4>
            
            <div class='col-lg-offset-4 col-lg-4'>
                <div>
                    <h3>Register</h3>
                </div>
                <form class='form-group' method="post" action="/register">
                    <p>Login to access your previously created rooms as the owner.</p>
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" ng-model="username">
                    </br>
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" ng-model="password">
                    <br/>
                    {% if status == 'InsertionFailed' %}
                    <h3>Something went wrong adding your information to the database.  ABORT MISSION!</h3>
                    <br>
                    {% elif status == 'UsernameTaken' %}
                    <h3>Username taken!  Choose a different one.</h3>
                    <br>
                    {% endif %}
                    <input class="btn btn-default" type="submit" value="Register" name="submit"/>
                    
        
                </form>
            </div>
        </div>
    </header>


{% endblock %}